@{ var aa = ViewBag.Data as List<Content>;}

@foreach (var item in aa)
{
<div class="col-lg-4 col-sm-6 mb-4"> 
    <!-- Portfolio item 2-->
    <div class="portfolio-item">
        <a class="portfolio-link" data-bs-toggle="modal" href = "@("#portfolio" + item.ContentID)">
            <div class="portfolio-hover">
                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
            </div>
            <img class="img-fluid" src="@item.imageUrl" alt="..." />
        </a>
        <div class="portfolio-caption">
            <div class="portfolio-caption-heading">@item.adi</div>
            <div class="portfolio-caption-subheading text-muted">@item.tur</div>
        </div>
    </div>
</div>
}
