@model v6.Models.Login


<div class="portfolio-modal modal fade" id="Login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="container">
                <div class="close-modal" data-bs-dismiss="modal"></div>
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h1 class="text-uppercase">giriş yap</h1>
                            <hr />
                            <div class="row">
                                <div>
                                    <form asp-action="Login" >
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <div class="form-group">
                                            <label asp-for="KullaniciAd" class="control-label"></label>
                                            <input asp-for="KullaniciAd" class="form-control" />
                                            <span asp-validation-for="KullaniciAd" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="sifre" class="control-label"></label>
                                            <input asp-for="sifre" class="form-control" />
                                            <span asp-validation-for="sifre" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" value="giriş yap" class="btn btn-primary text-uppercase btn-xl" />
                                        </div>
                                    </form>
                                    <button class="btn btn-primary btn-xl text-uppercase bg-danger" data-bs-dismiss="modal" type="button">
                                        <i class="fas fa-xmark me-1"></i>
                                        kapat
                                    </button>
                                </div>
                            </div>
    `                   </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
